# fly.toml app configuration file generated for almanak on 2026-02-08T21:50:13Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'almanak'
primary_region = 'iad'

[build]

[processes]
  app = 'node dist-server/index.js'

[[mounts]]
  source = 'data'
  destination = '/app/data'
  auto_extend_size_threshold = 80
  auto_extend_size_increment = '1GB'
  auto_extend_size_limit = '10GB'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
